// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
a {
  font-size: 15px;
}
